body {
    --twitter-color: #1DA1F2;
    --twitter-background: #c2e5fa;
    --sidebar-width: 250px;
}

.app {
    display: flex;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}