@import "./variables.scss";
.feed {
    flex: 0.5;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 100;
    border: 1px solid $twitter-background;
    padding: 15px 20px;
}