@import "./variables.scss";
.feed {
    width: $feed-width;
    overflow-y: scroll;
    // border: 3px solid lightblue;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 100;
    border: 1px solid $twitter-background;
    // padding: 15px 20px;
}
@media (max-width: $sidebar-widget-width) {
    .feed {
        margin-right: auto;
        // width: auto;
    }
}