@import "./variables.scss";
.sidebarOption:hover {
    background-color: $twitter-background;
    color: $twitter-color;
    border-radius: 30px;
}
.sidebarOption:focus {
    color: $twitter-color;
    outline: none;
}
.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    width: $sidebar-width;
    padding-right: 140px;
}
/* Found ".MuiSvgIcon-root" through Inspector */
.sidebarOption > .MuiSvgIcon-root { 
    padding: 20px;
}
/* When resolution <=1282, do this */
@media (max-width: $sidebar-text-width) {
    .sidebarOption > h2 {
        display:none;
        padding-right: 35px;
    }
}