@import "./variables.scss";
// need to add "!important" for the changes to work 
.sidebar {
    border-right: 1px solid $twitter-background;
    margin-top: 10px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: $sidebar-margin-right;
    margin-right: 0;
    width: $sidebar-width;
    // border: 3px solid lawngreen;
}
.sidebar__twitterIcon {
    color: $twitter-color;
    font-size: 30px !important;
    margin: 0 0 20px 20px;
}
.sidebar__tweet {
    background-color: $twitter-color !important;
    border: none !important;
    color: #fff !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: $sidebar-width !important;
    
    /* H3 values */
    margin: 2em 0 !important;
    font-size: 1.17em !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
}

@media (max-width: $sidebar-text-width) {
    .sidebar{
        width: 30px;
        padding-right: 50px;
    }
}
@media (max-width: $sidebar-text-bloop) {
    .sidebar {
        padding-left: 2px;
        padding-right: 25px;
    }
}