@import "./variables.scss";
// need to add "!important" for the changes to work 
.sidebar {
    border-right: 1px solid $twitter-background;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    width: 200px;
    border: 3px solid lawngreen;
}
.sidebar__twitterIcon {
    color: $twitter-color;
    font-size: 30px !important;
    margin: 0 0 20px 20px;
}
.sidebar__tweet {
    background-color: $twitter-color !important;
    border: none !important;
    color: #fff !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: $sidebar-width !important;
    
    /* H3 values */
    margin: 2em 0 !important;
    font-size: 1.17em !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
}

@media (max-width: $sidebar-text-width) {
    .sidebar{
        // padding: 0;
        width: 30px;
        // padding-right: 2em;
        // border: 1px solid red;
    }
}