/* 
var(<variable name>) is the scss equilvalent of 
$<variable name> without needing to import 
(because of how it was defined in App.css 0.o  */
.sidebarOption:hover {
    background-color: var(--twitter-background);
    color: var(--twitter-color);
    border-radius: 30px;
}
.sidebarOption:focus {
    color: var(--twitter-color);
    outline: none;
}
.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    width: var(--sidebar-width);
}
/* Found ".MuiSvgIcon-root" through Inspector */
.sidebarOption > .MuiSvgIcon-root { 
    padding: 20px;
}
/* When resolution <=1282, do this */
@media (max-width:1282px) {
    .sidebarOption > h2 {
        display:none;
    }
    .sidebarOption {
        width: 100px;
    }
    /* .sidebarOption > .MuiSvgIcon-root {
        padding: 0;
    } */
}