// colors
$twitter-color: #1DA1F2;
$twitter-background: #c2e5fa;

//lengths
$sidebar-width: 200px;
$feed-width: 625px;

//mobile breakpoints (when things change)
$sidebar-text-width: 1280px;
$sidebar-widget-width: 1005px;
$sidebar-text-bloop: 616px;

//fonts
$sidebar-text: 24px;
$sidebar-weight: 600;

//various margin sizes
$sidebar-margin-right: 90px;