// colors
$twitter-color: #1DA1F2;
$twitter-background: #c2e5fa;

//lengths
$sidebar-width: 200px;

//mobile breakpoints (when things change)
$sidebar-text-width: 1282px;
$sidebar-widget-width: 1005px;